%h1.title Results
- if @results
  %div.results
  - @results.each do |result|
    %div.result
      %div.result_title
        %a{:href => "/about/#{result.guid}"}= result
      %div.result_uri= result.uri
      %div.result_type= result.type.join(", ")
- else
  %p No results found.