body {
  margin: 70px;
  font-size: 45px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  background: #eee;
  color: #444;
  line-height: 1.5;
}

.img {
  float: left;
  margin-right: 30px;
}

.img img {
  width: 300px;
}

.text {
  float: left;
  width: 700px;
}