%div.row.clearfix.cwork
  %div.five.columns.image.alpha
    = partial("partial/cwork_thumbnail", :locals => {cwork: cwork, big: false})
  %div.eleven.columns.omega.text
    = partial("partial/cwork_body", :locals => {cwork: cwork, big: false})