%div.row.clearfix.cwork
  %div.four.columns.image.alpha
    = partial("partial/cwork_thumbnail", :locals => {cwork: cwork, big: false})
  %div.twelve.columns.omega.text
    = partial("partial/cwork_body", :locals => {cwork: cwork, big: false})