%div.row.clearfix.cwork
  %div.eight.columns.alpha.image
    = partial("partial/cwork_thumbnail", :locals => {cwork: cwork, big: false})
  %div.eight.columns.omega.text
    = partial("partial/cwork_body", :locals => {cwork: cwork, big: true})
